@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  /* color: black; */
}
.container {
  width: 80%;
  margin: 2em auto;
}
.App {
  border: 1px solid black;
  padding: 2em;
  max-width: 900px;
}
.successModal{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 2rem;
  background-color: white;
  box-shadow: 0 0 20px #ddd;
}

